
*.log
*.tlog
*.idb
*.pdb
*.exe
*.ilk
*.obj
*.user
*.sdf
*.suo
vs2013/UtilityEngine/Debug/UtilityEngine.lib
*.opensdf
vs2015
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
vs2013/UtilityEngine/ClientTest/ClientTest/Debug/ClientTest.vcxproj.FileListAbsolute.txt
vs2013/UtilityEngine/ServerTest/ServerTest/Debug/ServerTest.vcxproj.FileListAbsolute.txt
